<!-- START BROKENLINK MAIN -->
<div id="wsmain">
  <!-- START HEADER BOX -->
  <div id="wsheader">
     <div id="wsheadertitle">
       <h1><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/brokenlink.php" target="_self"><img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/logo.gif" hspace="10" border="0" alt="<{$xoops_pagetitle}>" /><{$xoops_pagetitle}></a></h1>
     </div>
     <div id="wsheadertext">
        <p><{$smarty.const._WS_THANKSFORHELP}><br /><{$smarty.const._WS_FORSECURITY}></p>
     </div>
  </div>
  <!-- END HEADER BOX -->
  <div id="wssubmitform">
     <{$sform}>
  </div>
</div><!-- END BROKENLINK MAIN -->

