<div id="wstrackdata" class="itemInfo wsiteminfo">
        <div class="itemHead wsitemhead">
          <h3 class="itemTitle wsitemtitle"><{$smarty.const._WS_TRACKDATA}></h3>
        </div>
        <div id="wstrackoverflow">
          <div id="tracktitle"></div>
          <div id="trackauthor"></div>          
          <div id="trackdescription"></div>
          <!--// <div id="trackdate"></div> 
          <div id="trackfile"></div>
          <div id="tracklink"></div>
          <div id="trackid"></div>
          <div id="trackimage"></div>
          <div id="trackcaptions"></div>
          <div id="trackaudio"></div>
          <div id="trackcategory"></div>
          <div id="trackstart"></div>
          <div id="tracktype"></div>
          <div id="tracklatitude"></div>
          <div id="tracklongitude"></div>
          <div id="trackcity"></div> //-->
        </div>
</div>
