<!-- START MODLINK MAIN -->
<div id="wsmain">
  <!-- START HEADER BOX -->
  <div id="wsheader">
     <div id="wsheadertitle">
        <h1><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/modlink.php" target="_self"><img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/logo.gif" hspace="10" border="0" alt="<{$xoops_pagetitle}>" /><{$xoops_pagetitle}></a></h1>
     </div>
     <div id="wsheadertext">
        <h2><{$smarty.const._WS_REQUESTMOD}></h2>
     </div>
  </div>
  <!-- END HEADER BOX -->
</div><!-- END MODLINK MAIN -->
  <div id="wssubmitform">
    <{$sform}>
  </div>
