<div style="float: left; width: 100%; margin: 0px; padding: 0px; text-align: left;">
<{foreach item=link from=$block.links}>
   <{if $link.movie !=""}>
      <{$link.movie}>
   <{/if}>
 <div style="float: left; width: auto; margin: 0px; padding: 2px;">
   <h3 style="float: left; width: 98%; margin: 0px; padding: 2px 2px 0px 2px; font-size: 90%;">
      <{ if $link.title !=""}>
         <a href="<{$xoops_url}>/modules/webshow/singlelink.php?lid=<{$link.id}>" target="_self" title="<{$link.title}>"><{$link.title}></a>
      <{/if}>
      <{ if $link.popmovie !=""}>
         <a href="" onClick= "window.open('<{$xoops_url}>/modules/webshow/popmovie.php?lid=<{$link.id}>','popMovie','directories=no,toolbar=no,location=no,menubar=no'); return false;" title="<{$smarty.const._MB_WEBSHOW_POPUP}> <{$smarty.const._MB_WEBSHOW_PLAYER}>"><img src="<{$xoops_url}>/modules/webshow/images/popbutton.gif" alt="<{$smarty.const._MB_WEBSHOW_POPUP}> <{$smarty.const._MB_WEBSHOW_PLAYER}>" /></a>     
      <{/if}>
   </h3>
   <{if $link.logo !=""}>
      <div style="float: left; width: auto; margin: 0px; padding: 2px;">
         <a href="<{$xoops_url}>/modules/webshow/singlelink.php?lid=<{$link.id}>" target="_self"><img src="<{$link.logo}>" alt="<{$link.title}>" /></a>
      </div>
   <{/if}>
    <{if $link.stats == 1}>
       <div style="clear: left; margin: 0px; padding: 2px; font-size:80%;">
             <span style="white-space: nowrap;">(<{$smarty.const._MB_WEBSHOW_LASTUPDATE}>: <{$link.date}>)</span>
             <span style="white-space: nowrap;">(<{$smarty.const._MB_WEBSHOW_VIEWS}>: <{$link.views}>)</span>
             <span style="white-space: nowrap;">(<{$smarty.const._MB_WEBSHOW_HITS}>: <{$link.hits}>)</span>
             <{if $link.rating > 0}>
                <span style="white-space: nowrap;">(<{$smarty.const._MB_WEBSHOW_RATING}>: <{$link.rating}>)</span>
                <span style="white-space: nowrap;">(<{$smarty.const._MB_WEBSHOW_VOTES}>: <{$link.votes}>)</span>
             <{/if}>
       </div>
    <{/if}>  
   <{ if $link.description !=""}>
      <div style="clear: left; margin: 0px; padding: 2px 3px 0px 3px; font-size: 90%;">
         <{$link.description}>
      </div>
   <{/if}>  
 </div> 
<{/foreach}>
</div> 
<div style="clear: both;"></div> 